@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Confirmation";
}

<div>
    <h1>Thank You For Your Submission!  You can see all submissions <a asp-action="Submissions">here.</a></h1>
</div>
